/* Style for the container */
div {
  font-family: "Cinzel", serif;
 
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #f2e8e8;
}

/* Style for input fields */
input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

/* Style for buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.container {
  max-width: 460px;
  margin: 20px auto;
  background-color: #495e57;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

/* Heading Styles */
h1 {
  color: #fceeee;
  text-align: center;
}

h2 {
  color: #f6f2f2;
  margin-bottom: 10px;
}

/* Form Styles */
input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Button Styles */
button {
  background-color: #040504;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.Auctioneer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: rgb(127, 156, 20);
}

.AccountConnect {
  font-family: "EB Garamond", serif;
  font-size: large;
}

.auctionfont {
  font-family: "EB Garamond", serif;
  color: #040504;
}

.head {
  color: #ddd;
}
.Ant{
color:#f2e8e8
}
/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
